.launchGame .main-container {
	width: 100%;
	padding-top: 75px;
}

.launchGame .container {
	width: 60%;
	display: inline-block;
	vertical-align: top;
}


.launchGame .launchButton, .launchGame .quitButton {
	width: 300px;
	padding: 25px;
	outline: 0;
}

.launchGame .launchButton {
	color: #6EBE59;
	border: 2px solid #6EBE59;
	background-color: transparent;
	margin-bottom: 75px;
}

.launchGame .launchButton.ready {
	color: white;
	background-color: #6EBE59;
}

.launchGame .quitButton {
	background-color: #FF633A;
}